<div class="mt-4">
    <form method="POST" action="/search">
        <div class="from-group">
            <label for="search-input">Nhap tu khoa tim kiem</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhap tu khoa...">
        </div>
        <div class="from-group">
            <label for="search-input">Chon the loai</label>
            <select class="form-select" name="the_loai">
                <option selected>--Chon the loai--</option>
                <option value="kinh_di">Kinh di</option>
                <option value="hanh_dong">Hanh dong</option>
                <option value="ngon_lu">Ngon lu</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Tim kiem</button>
    </form>
</div>