<!--<div class="header">-->
<!--    <h1 id="page-title"><%= pageTitle || "Dashboard Tổng Quan" %></h1>-->
<!--    <div class="header-actions">-->
<!--        <button class="btn btn-secondary">-->
<!--            <i class="fas fa-bell"></i>-->
<!--            Thông báo-->
<!--        </button>-->
<!--        <button class="btn btn-primary" id="add-product-btn">-->
<!--            <i class="fas fa-plus"></i>-->
<!--            Thêm sản phẩm-->
<!--        </button>-->
<!--    </div>-->
<!--</div>-->
