<div class="sidebar">
    <div class="logo">
        <h2><i class="fas fa-store"></i> <span>ShopAdmin</span></h2>
    </div>
    <nav class="nav-menu">
        <a href="/admin">
            <div class="nav-item">
                <i class="fas fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </div>
        </a>
        <a href="/admin/products">
            <div class="nav-item">
                <i class="fas fa-box"></i>
                <span>Sản phẩm</span>
            </div>
        </a>
        <a href="/admin/categories">
            <div class="nav-item">
                <i class="fa-solid fa-square-minus"></i>
                <span>Danh Muc</span>
            </div>
        </a><a href="/admin/brand">
            <div class="nav-item">
                <i class="fa-sharp fa-solid fa-bandage"></i>
                <span>Brand</span>
            </div>
        </a>
        <a href="/admin/orders">
            <div class="nav-item">
                <i class="fas fa-shopping-cart"></i>
                <span>Đơn hàng</span>
            </div>
        </a>
        <a href="sell/admin/customers">
            <div class="nav-item">
                <i class="fas fa-users"></i>
                <span>Khách hàng</span>
            </div>
        </a>
        <a href="/admin/analytics">
            <div class="nav-item">
                <i class="fas fa-chart-line"></i>
                <span>Thống kê</span>
            </div>
        </a>
        <a href="/admin/settings">
            <div class="nav-item">
                <i class="fas fa-cog"></i>
                <span>Cài đặt</span>
            </div>
        </a>
        <a href="/">
            <div class="nav-item">
                <i class="fas fa-store"></i>
                <span>Trang bán hàng</span>
            </div>
        </a>
    </nav>
</div>
