<h1>Sua khoa hoc</h1>
<form method="POST" action="/course/{{course._id}}?_method=PUT">
    <div class="mb-3">
        <label for="courseName" class="form-label">Tên khóa học</label>
        <input type="text" class="form-control" value="{{course.name}}" id="courseName" name="name" required>
    </div>

    <div class="mb-3">
        <label for="courseDescription" class="form-label">Mô tả</label>
        <input type="text" class="form-control" id="courseDescription" name="description" value="{{course.description}}">
    </div>

    <div class="mb-3">
        <label for="courseVideo" class="form-label">Video (URL)</label>
        <input type="text" class="form-control" id="courseVideo" name="video" value="{{course.video}}">
    </div>
    <button type="submit" class="btn btn-primary">Sua khoa hoc</button>
</form>
