<div class="course-container">
    <!-- Bên trái -->
    <div class="course-left">
        <button>Học ngay</button>
    </div>

    <!-- Bên phải -->
    <div class="course-right">
        <div class="course-video">
            <iframe width="560" height="400" src="https://www.youtube.com/embed/{{course.video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="course-title">{{course.name}}</div>
        <div class="course-description">
            {{course.description}}
        </div>
    </div>
</div>